---
layout: default
title: Tag
isNavItem: true
---



<script src="/assets/js/jquery-1.11.3.min.js"></script>
<script src="/assets/js/tagCloud.js"></script>
<script src="/assets/js/tags.js"></script>





<div class="tagCloud">
    {% for tag in site.tags %}
    <a href="#{{ tag | first }}">{{ tag | first }}</a>
    {% endfor %}
</div>

<div>
    <ul class="tag-box inline">
        {% for tag in site.tags %}
        <li><a href="#{{ tag | first }}">{{ tag | first }}<span>{{ tag | last | size }}</span></a></li>
        {% endfor %}
    </ul>
</div>

<div>
    {% for tag in site.tags %}
    <h2 id="{{ tag | first }}">{{ tag | first }}</h2>
    <ul>
        {% for posts in tag  %}{% for post in posts %}{% if post.title != null %}
        <li itemscope><span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date_to_string }}</time></span> &raquo; <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a></li>
        {% endif %}{% endfor %}{% endfor %}
    </ul>
    {% endfor %}
</div>


{{ content }}

<div class="columns is-multiline">
    <div class="column is-12">
        {% include pagination.html %}
    </div>
    {% for post in paginator.posts %}
    <div class="column is-12">
        {% include post-card.html %}
    </div>
    {% endfor %}
    <div class="column is-12">
        {% include pagination.html %}
    </div>
    <div class="column is-12">
        {% include subscribe.html %}
    </div>
</div>
